.container{
	display: grid;
	grid-template-columns: repeat(4, 4.5rem);
	background-color: #081033;
	grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    width: fit-content;
    padding: 1rem;
    margin: auto;
    margin-top: 5rem;
    box-shadow: 13px 10px 36px 4px rgba(4,20,77,1);
}
.button{
	background-color: #222d58;
	color: #90c1fa;
	font-size: 2rem;
	text-align: center;
    border: 0;
    width: 4.5rem;
    height: 4.5rem;
    cursor: pointer;
}
input{
	grid-column: 2/5;
	color: #b07733;
	font-size: 2rem;
	background-color: transparent;
	text-align: right;
	padding-right: 1rem;
	border: 1px inset #596895;
}
.button:hover{
	background-color:  #374ec773;
}